 <div id="centerNotFound">
        <style>
          #centerNotFound {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 60vh;
            color: black;

          }
          body {
            background: black;
            margin: 0;
            padding: 0;
          }


        </style>
        <h1 style="text-align: center">Page Not Found</h1>
        <img style="max-width: 300px;" class="img-rounded img-responsive" src="https://media.giphy.com/media/XsUtdIeJ0MWMo/source.gif">
        <br>


        <p>You were trying to go somewhere that doesn't exist</p>

        <a href="index.html" class="btn btn-primary" >Go Home</a>


      </div>
