<div id="listOfSkills" >
  <app-single-skill-box *ngFor="let skill of getSkillBoxes(); let skillNumber=index"
                        [skill]="skill" [skillPages]="globals.getPages(skill)"
                         (onSelectedSkill)="skillSelected($event, skillNumber)"
  ></app-single-skill-box>



  <div class="dropdown" *ngIf="getLoggedStatus()">
    <table id="userControls"> <tr>
      <td id="normalLogo">
        <button class="btn btn-sm btn-link" (click)="globals.onToogleEditor()">{{globals.showSkillEditorText}}</button>
      </td>
    </tr>
    </table>
  </div>
</div>
