<div class="panel panel-default" *ngIf="!isCollapsed">

<div class="panel-heading">Skills</div>
  <div class="panel-body">
<div id="listOfSkills">
  <!-- The skillboxes -->
  <app-single-skill-box *ngFor="let skill of arraySkills; let skillNumber=index"
                        [skill]="skill" [myPages]="getPages(skill)"
                         (onSelectedSkill)="skillSelected(skillNumber)"></app-single-skill-box>

  <!-- The box to Hide the Skill Editor -->

</div>
  </div>
</div>


<accordion style="width:100%" [closeOthers]="oneAtATime" *ngIf="isCollapsed" >

  <!-- The skillboxes -->
  <app-single-skill-box class="list-group" *ngFor="let skill of arraySkills; let skillNumber=index"
                        [skill]="skill" [myPages]="getPages(skill)"
                        (onSelectedSkill)="skillSelected(skillNumber)"></app-single-skill-box>

</accordion>
