<div class="container-fluid" [ngStyle]="{'padding-bottom': getPaddingBottom()}" >
  <div class="row">

    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-1">
      <app-branding></app-branding>
      <app-projects [collapse]="isCollapsed"></app-projects>
      <app-legend [collapse]="isCollapsed"></app-legend>
    </div>
    <div class="col-xs-12 col-sm-9 cold-md-9 col-lg-10 col-xl-11">
      <h1>About</h1>
      <small><i>Las updated 1st of September of 2017</i></small>

    <p>This is a CMS to keep track of your own learning. Instead of dividing it in days like Wordpress or in terms like MediaWiki it is divided in skills and each skill in sub-skills.<br>
      It is the evolution of the MediaWiki environment that is now kept for comparison in <a href="https://www.maikel.uk/old">https://www.maikel.uk/old</a></p>
    <p>The MediaWiki format has a few shortcomings:</p>
    <ul>
      <li>Editing text is cumbersome.</li>
      <li>Adding pictures is a hindrance.</li>
      <li>Adding CSS is an incredible annoyance because you do it globally in Commons.CSS</li>
      <li>Adding Javascript is the same because you do it globally in Commons.JS</li>
      <li>To add a new skill I had to manually create a table each and every time or copy-paste one I already did.</li>
    </ul>
    <p>This CMS automatises or solves all of the previous shortcomings of MediaWiki by:</p>
    <ul>
      <li>Using Froala Editor a WYSIWYG solution.</li>
      <li>Using Angular for Componentisation of both CSS &amp; Javascript.</li>
      <li>Automatising the creating of skillboxes.</li>
    </ul>

      <h2>Future additions</h2>
      <ul>
        <li><strong>Testing system: </strong>I want the site to automate and measure knowledge about each skill, notifying if it's time for a refresher otherwise and retagging skills back to Learning if they are.
        This should be achieved by using multiple option questions</li>
        <li><strong>Native Android/iOS app: </strong>Using either NativeScript or Ionic. They'd be in charge of the bit about the testing system that way you can retest yourself on your commuting</li>
      </ul>
    <p>This is the way the website looks as of 26th of August of 2017. Due to obvious reasons this picture could be outdated. Check the website itself to see the live latest version <a href="https://www.maikel.uk">https://www.maikel.uk</a></p>
      <p class="text-center bold">In visitor-mode <i class="fa fa-arrow-down"></i></p>
    <img class="img-responsive center-block" src="https://github.com/maikeldotuk/learningCMS/raw/master/images/visitor.png" alt="In visitor-mode">
    <p class="text-center bold">In editor-mode <i class="fa fa-arrow-down"></i></p>
    <img class="img-responsive center-block" src="https://github.com/maikeldotuk/learningCMS/raw/master/images/editor.png" alt="In editor-mode">
    <p class="text-center bold">Editing a page <i class="fa fa-arrow-down"></i></p>
    <img class="img-responsive center-block" src="https://github.com/maikeldotuk/learningCMS/raw/master/images/editPage.png" alt="Editing a page">

    </div>
  </div>
</div>
