<div class="col-xs-12 col-sm-9 cold-md-9 col-lg-10 col-xl-11">
  <h1>Contact</h1>
  <p>This section should contain one that does send to the DDBB the form so I can read them later from this same website
    or my desktop in a <strong>Java</strong> (not Javascript) application</p>
  <p>In the meantime:</p>
  <div class="text-center"><a href="https://www.linkedin.com/in/maikeldotuk" target="_blank"
                              class="btn-lg btn-primary ">
    Follow me on <i class="fa fa-linkedin-square" aria-hidden="true"></i></a></div>

</div>

