<div class="col-xs-12 col-sm-9 cold-md-9 col-lg-10 col-xl-11">
<app-backbutton [isEdit]="isEdit"></app-backbutton>

  <h1><a [routerLink]="['/skills',thePage.skill]">{{thePage.skill}}</a> <i class="fa fa-angle-right"></i> {{thePage.title}}
  <div *ngIf="getLoggedStatus()" class="btn-group">

    <button class="btn btn-xs btn-primary" *ngIf="!isEdit" (click)="onToggleEditor()">Edit
    </button>
    <button *ngIf="isEdit" class="btn btn-xs btn-primary" (click)="onSavePage()">{{pageSavingButtonLabel}}
      <app-spinner *ngIf="showSpinner"></app-spinner>
    </button>
    <button class="btn btn-xs btn-danger" (click)="onRemovePage()">Delete
    </button>
  </div>
</h1>

<div style="color: #760a0e; font-style: italic; font-size:12px;" *ngIf="getLoggedStatus() && isEdit"> Last Edited on
  {{lastEdit}}
</div>

<div *ngIf="!isEdit">
  <div [froalaView]="thePage.content"></div>
</div>


<!-- The view with the editor-->
<div *ngIf="isEdit">
  <div class="input-group">
    <span class="input-group-addon">Rename</span>
    <input [(ngModel)]="thePage.title" type="text" class="form-control" name="msg">
  </div>
  <br>

  <div [froalaEditor]="froalaOptions" [(ngModel)]="thePage.content"></div>

</div>
</div>
