<div class="col-xs-12 col-sm-9 cold-md-9 col-lg-10 col-xl-11" *ngIf="!isLoading">
<app-backbutton [isEdit]="isEdit"></app-backbutton>

  <h1><a [routerLink]="['/skills',thePage.skill]">{{thePage.skill}}</a> <i class="fa fa-angle-right"></i> {{thePage.title}}
  <div *ngIf="getLoggedStatus()" class="btn-group">

    <button class="btn btn-xs btn-primary" *ngIf="!isEdit" (click)="onToggleEditor()">Edit
    </button>
    <button *ngIf="isEdit" class="btn btn-xs btn-primary" (click)="onSavePage()">{{pageSavingButtonLabel}}
      <app-spinner *ngIf="showSpinner"></app-spinner>
    </button>
    <button class="btn btn-xs btn-danger" (click)="onRemovePage()">Delete
    </button>
  </div>
</h1>

<div style="color: #760a0e; font-style: italic; font-size:12px;" *ngIf="getLoggedStatus() && isEdit"> Last Edited on
  {{lastEdit}}
</div>

<div  *ngIf="!isEdit">
  <div  [froalaView]="thePage.content"></div>

</div>


<!-- The view with the editor-->
<div *ngIf="isEdit">
  <img class="img-thumbnail " *ngIf="thePage.imgURL !== null" [src]="thePage.imgURL" style="max-width:130px;float:right;">
  <div class="input-group">
    <span class="input-group-addon">Rename</span>
    <input [(ngModel)]="thePage.title" type="text" class="form-control" name="msg">

  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">SEO image URL</span>
    <input [(ngModel)]="thePage.imgURL" type="text" class="form-control" name="msg" placeholder="Recommended to be bigger than 250x250px">

  </div>

  <br>


  <div [froalaEditor]="froalaOptions" [(ngModel)]="thePage.content"></div>

</div>
</div>
<div class="col-xs-12 col-sm-9 cold-md-9 col-lg-10 col-xl-11" *ngIf="!isEdit  && thePage.test.length >= 20">
  <div class="panel panel-default">
    <div class="panel-heading">Tester</div>
    <ul class="list-group">
      <app-question class="list-group-item list-group-item-action flex-column align-items-start"
                    *ngFor="let item of twenty_test; let i = index" [item]="item" [index]="i"
                    (answerChosen)="countAnswers($event)"></app-question></ul>

  </div>
<button [disabled]="!getLoggedStatus()" class="btn btn-danger pull-right" title="I'm only available if you're logged in" (click)="markTest()"> Send and Mark</button></div>

<div *ngIf="isLoading"><app-loader></app-loader></div>
