<button *ngIf="globals.pageFroalaEditorHidden" [ngStyle]="{'left':buttonLocation}" class="switch-version btn btn-danger btn-sm" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>

<h1>{{globals.theSkillTitle}} <i class="fa fa-angle-right"></i> {{globals.titlePage}}
    <div *ngIf="getLoggedStatus()" class="btn-group">

      <button class="btn btn-xs btn-primary" *ngIf="globals.pageFroalaEditorHidden" (click)="globals.onToggleEditor()">Edit
      </button>
      <button *ngIf="!globals.pageFroalaEditorHidden" class="btn btn-xs btn-primary" (click)="globals.onSavePage()">{{globals.pageSavingButtonLabel}}
        <app-spinner *ngIf="globals.showSpinner"></app-spinner>
      </button>
      <button class="btn btn-xs btn-danger" (click)="onRemovePage()">Delete
      </button>
    </div>
  </h1>
  <div style="color: #760a0e; font-style: italic; font-size:12px;" *ngIf="getLoggedStatus() && globals.pageFroalaEditorHidden"> Last Edited on {{globals.lastEdit}}</div>

  <div *ngIf="globals.pageFroalaEditorHidden">

    <div [innerHTML]="globals.contentPage" ></div>


  </div>


  <!-- The view with the editor-->
  <div *ngIf="!globals.pageFroalaEditorHidden">
    <div class="input-group">
      <span class="input-group-addon">Rename</span>
      <input [(ngModel)]="globals.titlePage" type="text" class="form-control" name="msg">
    </div><br>
    <textarea class="form-control" rows="5" id="comment" [froalaEditor]="froalaOptions" [(ngModel)]="globals.contentPage"></textarea>

  </div>

