<div class="panel panel-default">


  <div class="panel-heading">Preview</div>
  <div class="panel-body">



    <table id="skillBox" style="margin: 0px auto;">
      <tr>
        <th [id]=theSkill.getStyle()>

          {{theSkill.skillTitle}}
        </th>
      </tr>
      <tr>
        <td id="normalLogo"><img id="theLogo" [src]="theSkill.skillLogoURL"></td>
      </tr>
      <tr>
        <td id="theContent">
          <a *ngFor="let subskill of thePages;"
             [routerLink]="['/skills',subskill.skill, subskill.title]">{{subskill.title}}
          </a>


        </td>
      </tr>
    </table>
    <!--<button class="btn btn-danger"  (click)="globals.onClearFields()">Clear</button>-->

  </div>
</div>
