<div class="container-fluid" style="padding-bottom: 100px;" >
  <div class="row">
    <!-- The branding -->
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-1" *ngIf="!getLoggedStatus()">
      <app-branding></app-branding>
      <app-projects></app-projects>
      <app-legend></app-legend>
      <app-latestnews ></app-latestnews>
    </div>
    <!-- The skill editor -->
    <div *ngIf="getShowSkillEditor()">
    <div *ngIf="getLoggedStatus()" class="col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-1" >
      <app-skilleditor></app-skilleditor>
      <!-- The preview -->

      <app-skillpreview *ngIf="isPreviewEnabled()"></app-skillpreview>

    </div></div>


    <!--The list of skills and the page-->
    <div [ngClass]="{'col-md-9': getShowSkillEditor(), 'col-sm-9': getShowSkillEditor(),
     'col-lg-10': getShowSkillEditor(), 'col-xl-11':getShowSkillEditor(), 'col-md-12':getShowSkillEditor() && getLoggedStatus(),
     'col-sm-12':getShowSkillEditor() && getLoggedStatus()}" class="col-xs-12">
      <app-skill-list *ngIf="getShowSkillbox()" [loggedIn]="getLoggedStatus()" [arraySkills]="getSkillBoxes()"
                      [toggleButtonText]="getSkillEditorText()" (selectedSkill)="onSkillSelected($event)" (emitToggleEditor)="editorToggled($event)"></app-skill-list>
      <!--THe text of the page-->
      <app-pageeditor *ngIf="getIsPageEnabled()"></app-pageeditor>
    </div></div></div>

