<div class="dropdown" *ngIf="!isCollapsed">
  <table id="skillBox"> <tr>
    <p [id]=getStyle()>{{skill.skillTitle}}
    </p>

    <td id="normalLogo"><img id="theLogo" [src]="skill.skillLogoURL"></td>
  </tr>
  </table>

  <div class="dropdown-content">

    <table id="skillBox">
      <div id="hoveredTitle">

        {{skill.skillTitle}}

      </div><tr>

      <td id="hooveredLogo" (click)="onClickedSskill()"><img id="theLogo" [src]="skill.skillLogoURL"></td>

    </tr>

      <tr>
        <td id="theContent">

          <a *ngFor="let subskill of myPages;"
             [routerLink]="['/skills',subskill.skill, subskill.title]">{{subskill.title}}
          </a>

        </td>

      </tr>
    </table>
  </div>
</div>



<accordion-group *ngIf="isCollapsed" class="list-group" >
    <div accordion-heading >
      {{skill.skillTitle}}
      <img class="pull-right flot-xs-right" style="max-height:30px; max-width:150px" [src]="skill.skillLogoURL">

    </div>
  <div [id]="getStyle()">Status: <strong>{{skill.skillLevel}}</strong></div>

    <a class="list-group-item" style="color:black;width:100%" *ngFor="let subskill of myPages;"
     [routerLink]="['/skills',subskill.skill, subskill.title]">{{subskill.title}}
  </a>


</accordion-group>






