<div id="listOfSkills" *ngIf="!isCollapsed">
<div class="dropdown" >
  <table id="skillBox"> <tr>
    <p [id]=getStyle()>{{skill.skillTitle}}
    </p>

    <td id="normalLogo"><img id="theLogo" [src]="skill.skillLogoURL"></td>
  </tr>
  </table>

  <div class="dropdown-content">

    <table id="skillBox">
      <div id="hoveredTitle">{{skill.skillTitle}}</div><tr>

      <td id="hooveredLogo" [routerLink]="['/skills',skill.skillTitle]"><img id="theLogo" [src]="skill.skillLogoURL"></td>

    </tr>

      <tr>
        <td *ngIf="!(myPages.length===0)" id="theContent">

          <a  *ngFor="let subskill of myPages;"
             [routerLink]="['/skills',subskill.skill, subskill.title]">{{subskill.title}}
          </a>

        </td>

      </tr>
    </table>
  </div>
</div>
</div>


<accordion-group *ngIf="isCollapsed"  >
    <div accordion-heading >
      {{skill.skillTitle}}
      <img class="pull-right flot-xs-right" style="max-height:30px; max-width:150px" [src]="skill.skillLogoURL">

    </div>
  <div class="list-group-item" [id]="getStyle()">Status: <strong>{{skill.skillLevel}}</strong></div>
  <div class="list-group-item" [routerLink]="['/skills',skill.skillTitle]">About {{skill.skillTitle}}</div>
    <div class="list-group-item" *ngFor="let subskill of myPages;"
     [routerLink]="['/skills',subskill.skill, subskill.title]">{{subskill.title}}
  </div>



</accordion-group>






